@font-face {
  font-family: 'Big Shoulders Stencil Display';
  src: url('/fonts/BigShouldersStencilDisplay-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Big Shoulders Stencil Display';
  src: url('/fonts/BigShouldersStencilDisplay-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Big Shoulders Stencil Display';
  src: url('/fonts/BigShouldersStencilDisplay-Black.ttf');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Dosis';
  src: url('/fonts/Dosis-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
