:root {
  --title-color: #ccd6f6;
  --paragraph-color: #8ca0ae;
  --accent-color: #58b5a9;
  --card-bg: #020204;
  --error-color: #ffd19c;
  --background-color: #0a0919;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  max-width: 1600px;
  margin: auto;
}
/* Typography styles  */

.MuiTypography-h1 {
  font-family: 'Big Shoulders Stencil Display', cursive !important;
  font-style: normal;
  font-weight: 600;
  font-size: 70px !important;
  text-align: center;
  color: var(--title-color);
}

.MuiTypography-h2 {
  font-family: 'Big Shoulders Stencil Display', cursive !important;
  font-style: normal;
  font-weight: 300;
  font-size: 32px !important;
  text-align: center;
  color: var(--title-color);
}
.MuiTypography-h3 {
  font-family: 'Big Shoulders Stencil Display', cursive !important;
  font-style: normal;
  font-weight: 300;
  font-size: 28px !important;
  color: var(--title-color);
}
.MuiTypography-subtitle1 {
  font-family: 'Dosis', sans-serif !important;
  font-style: normal;
  font-weight: 300;
  font-size: 18px !important;
  text-align: center;
  color: var(--title-color);
}

.MuiTypography-subtitle2 {
  font-family: 'Dosis', sans-serif !important;
  font-style: normal;
  font-weight: 300;
  font-size: 14px !important;
  text-align: center;
  color: var(--accent-color);
}

.MuiTypography-paragraph {
  font-family: 'Dosis', sans-serif !important;
  font-style: normal;
  font-weight: 300;
  font-size: 16px !important;
  color: var(--paragraph-color);
}
.activeMenuItem {
  color: var(--accent-color) !important;
}

/*Sweet alert styles */
.swal2-confirm {
  background-color: var(--paragraph-color) !important;
}
