@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300;500;600;900&family=Dosis:wght@300&display=swap');

/* Variables */
:root {
  --title-color: #CCD6F6;
  --paragraph-color: #8CA0AE;
  --accent-color: #58B5A9;
  --card-bg: #020204;
  --error-color: #FFD19C;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0A0919;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main{
  max-width: 1600px;
  margin: auto
}
/* Typography styles  */

.MuiTypography-h1 {
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 66px;
  text-align: center;
  color: var(--title-color);

}

.MuiTypography-h2 {
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  color: var(--title-color);

}
.MuiTypography-h3 {
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  color: var(--title-color);
}
.MuiTypography-subtitle1 {
  font-family: 'Dosis', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: var(--title-color);

}

.MuiTypography-subtitle2 {
  font-family: 'Dosis', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: var(--accent-color);

}

.MuiTypography-paragraph {
  font-family: 'Dosis', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color:  var(--paragraph-color);
}


